{% extends "layout.html" %}
{% block title %}Main{% endblock %}

{% block body %}
  <div>
    <h1 class="main-title", id="welcome-title">Welcome</h1>
    <div class="separator"></div>
  </div>
  <div>
    <h3 class="subtitle">This is the landing page of the second project,
       the following links are available for you to interact with the app.
        You can <strong>Insert a user</strong>, <strong>Show the users</strong> or <strong>Login</strong>
        into the app.</h3>
    <div id="buttons-container">
      <a href="/show_users", class="main-buttons">Show users</a>
      {% if not session.logged_in %}
        <a href="{{ url_for('login_view') }}", class="main-buttons">Login</a>
      {% else %}
        <a href="{{ url_for('logout') }}", class="main-buttons">Logout</a>
      {% endif %}
      <a href="/insert_user", class="main-buttons">Insert users</a>
    </div>
  </div>

  {% if message %}
    <div id="inserted-container">
      <h3 id="inserted">{{ message }}</h3>
    </div>

    <script>
      var insertedContainer = document.getElementById('inserted-container');
      insertedContainer.style.animationName = "animationIn";
      insertedContainer.style.animationDuration = "0.4s";

      window.setTimeout(function() {
        insertedContainer.style.opacity = 0;
      }, 2000);
    </script>
  {% endif  %}
{% endblock %}
