<!DOCTYPE html>

<html>
  <head>
    <title>Second project</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta property="og:title" content="Maestro" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no" />
  </head>

  <body>
    <div>
      <h1 class="main-title", id="welcome-title">Welcome</h1>
      <div class="separator"></div>
    </div>
    <div>
      <h3 class="subtitle">This is the landing page of the second project,
         the following links are available for you to interact with the app. You can <strong>Insert a user</strong>, <strong>Show the users</strong> or <strong>Login</strong> into the app.</h3>
      <div id="buttons-container">
        <a href="https://www.apple.com", class="main-buttons">Apple</a>
      </div>
    </div>
  </body>
</html>
