<title>Second | Insert users</title>

{% extends "layout.html" %}
{% block body %}
  <div>
    <div>
      <h1 class="main-title", id="welcome-title-insert">Insert</h1>
      <form action="{{ url_for('post_new_user') }}" method="post" class=post_new_user id="login-form">
        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='username' placeholder='Enter the username'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='name' placeholder='Enter the name'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='email' placeholder='Enter the email'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='password' name='password' placeholder='Enter the password'>
        <button class='button-login', id='button-insert'>Insert user</button>
      </form>
    </div>
    <div>
      <a href="/", class="main-buttons", id="back-button-insert">Main</a>
    </div>
  </div>

  {% if error %}
    <script>
      var error = '{{ error }}';
      alert(error);
    </script>
  {% endif %}
{% endblock %}
