<!DOCTYPE html>

<html>
  <head>
    <title>Second | Insert users</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta property="og:title" content="Maestro" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no" />
  </head>

  <body>
    <div>
      <h1 class="main-title", id="welcome-title-insert">Insert</h1>
      <form id="login-form">
        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='username' placeholder='Enter the username'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='name' placeholder='Enter the name'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='text' name='email' placeholder='Enter the email'>

        <input class='login-input' autocorrect='off' spellcheck='false'
        type='password' name='password' placeholder='Enter the password'>
      </form>

      <button class='button-login', id='button-login'>
        <a href="/login">Insert</a>
      </button>
    </div>

    <a href="/", class="main-buttons", id="back-button-insert">Back</a>
  </body>
</html>
