<!DOCTYPE html>

<!-- The template contains all the meta information of the head as well as a
general rule, if the user is not logged in it will show a message with the
login options. -->
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Second | {% block title %}{% endblock %}</title>
    <meta property="og:title" content="Layout" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no" />
  </head>
  <div>

  {% if message %} <!-- If it has a message, display it with animations -->
    <div id="inserted-container">
      <h3 id="inserted">{{ message }}</h3>
    </div>

    <script>
      var insertedContainer = document.getElementById('inserted-container');
      insertedContainer.style.animationName = "animationIn";
      insertedContainer.style.animationDuration = "0.4s";

      window.setTimeout(function() {
        insertedContainer.style.opacity = 0;
      }, 2000);
    </script>
  {% endif  %}

  {% block body %}{% endblock %} <!-- Configure the body block here. -->
</html>
