<!DOCTYPE html>

<html>
  <head>
    <title>Second | Login</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta property="og:title" content="Login" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no" />
  </head>

  {% block body %}
    <div>
      <h1 class="main-title", id="welcome-login-title">Login</h1>
      <form action="{{ url_for('login') }}" method="post" class=login id="login-form">
        <input class='login-input' id='first-login-field' autocorrect='off' spellcheck='false'
        type='text' name='username' placeholder='Enter your username'>

        <input class='login-input' id='second-login-field' autocorrect='off' spellcheck='false'
        type='password' name='password' placeholder='Enter your password'>

        <button class='button-login', id='button-login'>Login</button>
      </form>

      <a href="/", class="main-buttons", id="back-button">Main</a>
    </div>

    {% if error %}
      <script>
        var error = '{{ error }}';
        alert(error);
      </script>
    {% endif %}
  {% endblock %}
</html>
