<!DOCTYPE html>

<html>
  <head>
    <title>Second | Show users</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta property="og:title" content="Maestro" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no" />
  </head>

  <body>
    <div>
      <h1 class="main-title", class="users">Users</h1>

      users = zip(x['name'], x['email'], x['username'])

      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
          </tr>
        {% endfor %}
      </table>

      <a href="/", class="main-buttons", id="back-button-show">Back</a>
    </div>
  </body>
</html>
