<title>Second | Show users</title>

{% extends "layout.html" %}
{% block body %}
  <div>
    <h1 class="main-title", class="users", class="display", id="users">Users</h1>

    {% if users %}
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h2 class="empty-state">Bummer! No users so far. Start by adding one below.</h2>
    {% endif %}

    <div class="button-container">
      <a href="/insert_user", class="main-buttons">Insert users</a>
      <a href="/", class="main-buttons">Main</a>
    </div>
  </div>
{% endblock %}
