/* This will be the style of the simple web app */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* General */

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  position: fixed;
  top: 12.5px;
  right: 12.5px;
  bottom: 12.5px;
  left: 12.5px;
  border: 1px solid white;
}

.main-title {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 36px;
  text-align: center;
  color: white;
  margin-top: 25vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.separator {
  width: 1.5px;
  height: 25px;
  background-color: white;
  margin-left: 50%;
  margin-top: 10px;
  opacity: 0.7;
  transform: translateX(-50%);
}

.buttons-container {
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.button {
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  color: orange;
}

/* Main */

#main-background {
  position: fixed;
  background-image: url('./resources/main-background.png');
  background-size: 100vw 100vh;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#main-explanation {
  font-weight: 400;
  font-size: 16px;
  width: 50vw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
  margin-left: 50%;
  padding-bottom: 10px;
  transform: translateX(-50%);
}
