@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700, 900);

/* General */

html, body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #FAFAF7;
}

/* Main screen */

.main-title {
  font-weight: 700;
  font-size: 85px;
  text-transform: uppercase;
  text-align: center;
  color: #151718;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#welcome-title {
  padding-top: 10vh;
}

.separator {
  width: 50px;
  height: 3px;
  margin-top: -25px;
  margin-left: 50vw;
  transform: translateX(-50%);
  background-color: #D6D6D2;
}

.subtitle {
  font-weight: 400;
  text-align: center;
  width: 50vw;
  margin-left: 50vw;
  transform: translateX(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  padding-top: 15px;
  line-height: 160%;
}

#buttons-container {
  display: table;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  margin-top: 60px;
  left: 50%;
  transform: translateX(-50%);
  align: center;
}

.main-buttons {
  position: relative;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #151718;
  margin-left: 50px;
  margin-right: 50px;
}

.main-buttons:before,
.main-buttons:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.main-buttons:before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.main-buttons:after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.main-buttons:hover:before,
.main-buttons:hover:after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* Log in */

#login-form {
  display: block;
  margin-top: -30px;
}

.login-input {
  border: 1.5px solid #D6D6D2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  width: 500px;
  height: 60px;
}

#welcome-login-title {
  margin-top: 10vh;
}

.button-login {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  background-color: #151718;
  border: 0;
  padding: 0;
  border-radius: 4px;
  margin-left: 50%;
  margin-top: 60px;
  transform: translateX(-50%);
  width: 500px;
  height: 70px;
  letter-spacing: 2px;
}

#button-logout {
  visibility: hidden;
}

#button-logout a {
  text-transform: uppercase;
  color: #FAFAF7;
  text-decoration: none;
}

#button-login a {
  text-transform: uppercase;
  color: #FAFAF7;
  text-decoration: none;
}

#back-button {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  bottom: 3.5%;
  text-align: center;
  transform: translateX(-50%);
}

/* Show users */
