{% extends "layout.html" %}
{% block title %}Center{% endblock %}
{% block body %}
  <div id='main-background'>
    <div class='container'>
      <h1 class='main-title'>Temperatures</h1>
      <h3 id='main-explanation'>Temperatures is an app that will let you
      know the temperature of the place the Raspberry Pi is connected to.</h3>
      <div class='separator'></div>
      <div class='buttons-container'>
        <a href="{{ url_for('temperatures_view') }}" class='button'>Show temperatures</a>
      </div>
    </div>
  </div>
{% endblock %}
