{% extends "layout.html" %}
{% block title %}Show{% endblock %}
{% block body %}
  <div id='temperatures-container'>
    <h1 class='main-title' id='temperatures-title'>Temperatures</h1>
    <div class='separator' id='temperatures-separator'></div>
    {% if temperatures %}
      <table id='temperatures-table'>
        <tr>
          <th>Temperature</th>
          <th>Created</th>
          <th>Difference</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{ user.temperature }}</td>
            <td>{{ user.created }}</td>
            <td>{{ user.difference }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h2 id='empty-state'>Bummer! Still no temperatures here.</h2>
    {% endif %}
    <div class='separator' id='temperatures-separator'></div>
    <div class='buttons-container'>
      <a href="{{ url_for('main_view') }}" class='button' id='temperatures-button'>Main</a>
    </div>
  </div>
{% endblock %}
