{% extends "layout.html" %}
{% block title %}Central{% endblock %}
{% block body %}
  <div id='main-background'>
    <div class='container'>
      <h1 class='main-title' id='index-title'>Temperatures</h1>
      <h3 id='main-explanation'>Temperatures is an app that will let you
      know the mean temperature of a user and a sensor placed in a
      Raspberry Pi.</h3>
      <div class='separator'></div>
      <div class='buttons-container'>
        <div class='button-container'><a href="{{ url_for('users_view') }}"
          class='button'>Show users</a></div>
        <div class='button-container'><a href="{{ url_for('sensors_view') }}"
          class='button'>Show sensors</a></div>
      </div>
    </div>
  </div>
{% endblock %}
