{% extends "layout.html" %}
{% block title %}New sensor{% endblock %}
{% block body %}
  <div id='show-container'>
    <h1 class='main-title' id='show-title'>New sensor</h1>
    <div class='separator' id='show-separator'></div>
    <form action="{{ url_for('login_view') }}" method="post" class='new-form'>
      <input class='new-input' autocorrect='off' spellcheck='false'
      type='text' name='user_id' placeholder='Enter the sensor_id'>

      <input class='new-input' autocorrect='off' spellcheck='false'
      type='number' name='username' placeholder='Enter the mean_temperature (optional)'>

      <button class='new-button-form'>Save sensor</button>
    </form>
    <div id='show-button-container'>
      <div class='buttons-container'>
        <div class='button-container'><a href="{{ url_for('main_view') }}"
          class='button' id='show-button'>Main</a></div>
        <div class='button-container'><a href="{{ url_for('sensors_view') }}"
          class='button' id='show-button'>Sensors</a></div>
      </div>
    </div>
  </div>
{% endblock %}
