{% extends "layout.html" %}
{% block title %}New user{% endblock %}
{% block body %}
  <div id='show-container'>
    <h1 class='main-title' id='show-title'>New user</h1>
    <div class='separator' id='show-separator'></div>
    <form action="{{ url_for('login_view') }}" method="post" class='new-form'>
      <input class='new-input' autocorrect='off' spellcheck='false'
      type='text' name='user_id'
      {% if user %}
        value={{ user.user_id }}
      {% endif %}
      placeholder='Enter the user_id'>

      <input class='new-input' autocorrect='off' spellcheck='false'
      type='text' name='username'
      {% if user %}
        value={{ user.username }}
      {% endif %}
      placeholder='Enter the username'>

      <input class='new-input' autocorrect='off' spellcheck='false'
      type='text' name='name'
      {% if user %}
        {% if user.name is not none %}
          value={{ user.name }}
        {% endif %}
      {% endif %}
      placeholder='Enter the name (optional)'>

      <input class='new-input' autocorrect='off' spellcheck='false'
      type='email' name='email'
      {% if user %}
        {% if user.email is not none %}
          value={{ user.email }}
        {% endif %}
      {% endif %}
      placeholder='Enter the email (optional)'>

      <input class='new-input' autocorrect='off' spellcheck='false'
      type='text' name='mean_temperature'
      {% if user %}
        {% if user.mean_temperature is not none %}
          value={{ user.mean_temperature }}
        {% endif %}
      {% endif %}
      placeholder='Enter the mean teamperature (optional)'>

      <button class='new-button-form'>Save user</button>
    </form>
    <div id='show-button-container'>
      <div class='buttons-container'>
        <div class='button-container'><a href="{{ url_for('main_view') }}"
          class='button' id='show-button'>Main</a></div>
        <div class='button-container'><a href="{{ url_for('users_view') }}"
          class='button' id='show-button'>Users</a></div>
      </div>
    </div>
  </div>
{% endblock %}
