{% extends "layout.html" %}
{% block title %}Sensors{% endblock %}
{% block body %}
  <div id='show-container'>
    <h1 class='main-title' id='show-title'>Sensors</h1>
    <div class='separator' id='show-separator'></div>
    {% if sensors %}
      <table id='show-table'>
        <tr>
          <th>Sensor ID</th>
          <th>Mean temperature</th>
        </tr>
        {% for sensor in sensors %}
          <tr>
            <td>{{ sensor.sensor_id }}</td>
            {% if sensor.mean_temperature is not none %}
            <td>{{ sensor.mean_temperature }} °C</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if session.logged_in %}
            <td id='edit-button-cell'>
            <a href="{{ url_for('new_sensor_view', id=sensor.id) }}"
            class='button' id='edit-button'>Edit</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h2 id='empty-state'>Bummer! Still no sensors here.</h2>
    {% endif %}
    <div id='show-button-container'>
      <div class='buttons-container'>
        <div class='button-container'><a href="{{ url_for('main_view') }}"
        class='button' id='show-button'>Main</a></div>
        <div class='button-container'><a href="{{ url_for('new_sensor_view') }}"
        class='button' id='show-button'>Add sensors</a></div>
      </div>
    </div>
  </div>
{% endblock %}
