{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block body %}
  <div id='temperatures-container'>
    <h1 class='main-title' id='temperatures-title'>Temperatures</h1>
    <div class='separator' id='temperatures-separator'></div>
    {% if users %}
      <table id='temperatures-table'>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Mean temperature</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mean_temperature }} °C</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h2 id='empty-state'>Bummer! Still no users here.</h2>
      <!-- TODO: Add link to add one. -->
    {% endif %}
    <div class='separator' id='temperatures-separator'></div>
    <div id='temperatures-button-container'>
      <div class='buttons-container'>
        <a href="{{ url_for('main_view') }}" class='button' id='temperatures-button'>Main</a>
      </div>
    </div>
  </div>
{% endblock %}
