/* This will be the style of the simple web app */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* General */

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  position: fixed;
  top: 12.5px;
  right: 12.5px;
  bottom: 12.5px;
  left: 12.5px;
  border: 1px solid white;
}

.main-title {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
  text-align: center;
  color: white;
  margin-left: 50%;
  transform: translateX(-50%);
  vertical-align: center;
}

.separator {
  width: 1.5px;
  height: 25px;
  background-color: white;
  margin-left: 50%;
  margin-top: 10px;
  opacity: 0.7;
  transform: translateX(-50%);
}

.buttons-container {
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.button {
  cursor: pointer;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
}

.button-container {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -2px;
  background: white;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.button:hover:before {
  left: 20%;
  right: 20%;
}

.thin-separator {
  width: 90vw;
  height: 1px;
  vertical-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #151718;
}

#sub-button-group-bottom {
  padding-top: 25px;
}

#sub-button {
  display: grid;;
}

/* Main */

#index-title {
  margin-top: 27.5vh;
}

#main-background {
  position: fixed;
  background-image: url('./resources/main-background.png');
  background-size: 100vw 100vh;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#main-explanation {
  font-weight: 400;
  font-size: 16px;
  width: 50vw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
  margin-left: 50%;
  padding-bottom: 10px;
  transform: translateX(-50%);
}

/* Show */

#show-container {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

#show-title {
  padding-top: 10vh;
  color: #151718;
}

#show-separator {
  background-color: #151718;
  margin-top: 25px;
}

#show-table {
  width: 90%;
  color: inherit;
  vertical-align: center;
  margin-top: 25px;
  margin-left: 50%;
  padding-bottom: 100px;
  transform: translateX(-50%);
}

#show-table tr {
  height: 80px;
}

#show-table tr th {
  width: 22%;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

#show-table tr td {
  text-align: center;
}

#empty-state {
  margin-left: 50%;
  margin-top: 15vh;
  padding-bottom: 10vh;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 17.5px;
  transform: translateX(-50%);
  text-align: center;
  vertical-align: center;
}

#show-button-container {
  position: fixed;
  background-color: inherit;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 50px;
  padding-bottom: 35px;
}

#show-button {
  color: #151718;
}

#show-button:before {
  background: #151718;
}

#edit-button {
  color: #151718;
  transition: 0.75s;
}

#edit-button:hover {
  color: #C2C1BD;
}

#edit-button-cell {
  width: 5%;
  padding-left: 5%;
}

/* Login */

#login-button-container {
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

#login-button {
  text-align: center;
}

/* New */

.new-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 150px;
}

.new-input {
  display: block;
  width: 40vw;
  height: 50px;
  min-width: 250px;
  font-size: 15px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border-width: 1px;
  border-color: #151718;
}

.new-button-form {
  width: 25vw;
  height: 50px;
  min-width: 200px;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 35px;
  border-radius: 25px;
  border-width: 1px;
  border-color: #151718;
  background-color: #151718;
  color: white;
  transition: background-color 0.75s;
}

.new-button-form:hover {
  color: #151718;
  background-color: white;
}
